#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = msr605x-utility

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	@echo "Skipping tests during package build"

override_dh_auto_install:
	dh_auto_install
	install -Dm644 data/com.github.msr605x.desktop debian/msr605x-utility/usr/share/applications/com.github.msr605x.desktop
	install -Dm644 data/com.github.msr605x.svg debian/msr605x-utility/usr/share/icons/hicolor/scalable/apps/com.github.msr605x.svg
	install -Dm644 data/99-msr605x.rules debian/msr605x-utility/lib/udev/rules.d/99-msr605x.rules
	install -Dm644 data/style.css debian/msr605x-utility/usr/share/msr605x/style.css

override_dh_installchangelogs:
	dh_installchangelogs
